.App{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Menu,.Quiz,.EndScreen{
    width: 500px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    background:linear-gradient(135deg,rgb(0, 195, 255),rgb(255, 149, 0));
}

.Menu button{
    width: 300px;
    height: 70px;
    margin: 5px;
    border: none;
    border-radius:7px ;
    font-size: 20px;
    cursor: pointer;
}


.Menu,.Quiz,.EndScreen{
    color: white;
}

.options{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.EndScreen{
    font-size: larger;
}

.Quiz button{
    width: 400px;
    height: 50px;
    margin: 5px;
    border: none;
    background-color: white;
    border-radius:7px ;
    font-size: 20px;
    cursor: pointer;
}

.options button:hover{
    background-color: rgb(252, 229, 185)
}

.options button:focus{
    background:orange;
}